.h_100 {
  height: 100px;
}
.top_height {
  height: 40px;
  line-height: 40px;
}
.m_l19 {
  margin-left: 19px;
}
.ca_common_head .oy_top .oy_header .ca_header_left {
  height: 100%;
}
.ca_common_head .oy_top .oy_header .ca_header_left span {
  float: left;
  height: 40px;
  line-height: 40px;
}
.ca_common_head .oy_top .oy_header .ca_header_left s {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 19px;
}
.ca_common_head .oy_top .oy_header .ca_header_left a {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 19px;
}
.ca_common_head .oy_top .oy_header .ca_header_left a:hover {
  text-decoration: underline;
}
.ca_common_head .oy_search .ca_list {
  float: right;
}
.ca_common_head .oy_search .ca_list a {
  line-height: 100px;
  margin-left: 60px;
}
.ca_common_head .oy_search .ca_list .ca_list_select {
  color: #FF0000;
}
